<form [formGroup]="myLogin" (ngSubmit)="login()" >
    <div>
        <label>Email</label>
        <input type="text" formControlName="email" >
    </div>
    <div *ngIf="myLogin.get('email')?.errors && myLogin.get('email')?.dirty" >
        <p *ngIf="myLogin.get('email')?.hasError('required')">El Campo es Oblogatorio</p>
    </div>

    <div>
        <label>Contraseña </label>
        <input type="password" formControlName="clave" >
    </div>
    <div *ngIf="myLogin.get('clave')?.errors && myLogin.get('clave')?.dirty" >
        <p *ngIf="myLogin.get('clave')?.hasError('required')">El Campo es Oblogatorio</p>
    </div>

    <button type="submit" [disabled]="myLogin.invalid" >Login</button>

</form>